<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Never Ending Story</title>
		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
		<!-- The main CSS file -->
		<link href="css/style.css" rel="stylesheet" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body ng-app="TellAStoryApp" ng-controller="StoryController">

		<div class="bar">
			<a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
		</div>
		<div class="loading" ng-show="loading">
			<img src="images/loading.gif" />
		</div>
		<ul ng-show="layout == 'grid'" class="grid">
			<li ng-repeat="frame in frames">
				<!-- wrapper div -->
				<div class='wrapper' >
					<img ng-src={{frame.get('photo')._url}} />
					<!-- description div -->
					<div class='description'>
						<!-- description content -->
						<p>{{frame.get("comment")}}</p>
						<!-- end description content -->
					</div>
					<!-- end description div -->
				</div>
				<!-- end wrapper div -->
			</li>
			<li ng-show="!loading">
				<form name="newFrameForm">
					<!--<img src='images/empty_photo.jpg' style="width: 70%; height:70%; margin-top: 20px; margin-bottom: 11px;"/>-->
					<div>
						Upload a pic<input type='file' id="framepic" name="pic" ng-model="frame.pic" onClick="return uploadpic()">
						<input class='typebar' name="input" type="text" id="frametext" placeholder="Enter 4 word story" ng-pattern='/^(\s*\w*\s*){4}$/' ng-model="frame.comment" required><span class='error' ng-show="newFrameForm.input.$error.required">Required</span><span  class='error' ng-show="newFrameForm.input.$error.pattern">Less than 4 words</span>
						<!-- <br>Upload a pic:<input type="file" id="pic"><br>  -->
						<input type="button" id="framesubmit" value="Submit" ng-click="addFrame()">
						
					</div>
				</form>
			</li>
		</ul>

		<!-- Include AngularJS from Google's CDN and the resource module -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js"></script>
		<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/script.js"></script>
		<script type="text/javascript">
			function uploadpic()
			{
				var fileUploadControl = $("#framepic")[0];
				if (fileUploadControl.files.length > 0) {
  					var file = fileUploadControl.files[0];
  					var name = "photo.jpg";
 
  					var parseFile = new Parse.File(name, file);
  					alert(parseFile);
				}
			}
		</script>
	</body>
</html>
