<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Never Ending Story</title>
		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
		<!-- The main CSS file -->
		<link href="css/style.css" rel="stylesheet" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body ng-app="TellAStoryApp" ng-controller="StoryController">
		<span><img src="images/title.png" style="width: 240px;height: 100px;"/></span>
		<div class="bar">
		<a class="fancybox fancybox.iframe list-icon" href="iframe.html" alt="Play"></a>
		<a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
		</div>
		<div class="loading" ng-show="loading">
			<img src="images/loading.gif" />
		</div>
		<ul ng-show="layout == 'grid'" class="grid">
			<li ng-repeat="frame in frames">
				<!-- wrapper div -->
				<div class='wrapper' >
					<img ng-src={{frame.get('photo')._url}} />
					<!-- description div -->
					<div class='description'>
	<!-- description content -->
				<p><img align="left" ng-src="{{frame.get('user_picture')._url}}"   
class="circle" style="align:left;width:32px;height:100%; display : inline"/>&nbsp;&nbsp;{{frame.get("comment")}}</span></p>						<!-- end description content -->
					</div>
					<!-- end description div -->
				</div>
				<!-- end wrapper div -->
			</li>
			<li ng-show="!loading">
				<form name="newFrameForm">
				<!--	<img src='http://technomarketer.typepad.com/.a/6a00d8341bfcd953ef010536bf987c970c-pi' 
style="width: 70%i; height:70%; margin-top: 20px; margin-bottom: 11px;"/> -->
					<div>
						<table>
							<tr>
								<td><input type="image" src="images/upload.png" style="width:50px;height:50px;margin-left:0px;margin-right:0px" onClick="return imageOnclick()"></input></td>
								<td><img src="images/camera-icon.png" style="width:50px;height:50px;margin-left:0px;margin-right:0px"/></td>
								<td><img src="images/idea.png" style="width:50px;height:50px;margin-left:0px;margin-right:0px"/></td>
							</tr>
						</table>
						<input type='file' id="framepic" name="pic" ng-model="frame.pic" style="display:none;">
						<input class='typebar' name="input" type="text" id="frametext" placeholder="Enter 4 word story" ng-pattern='/^(\s*\w*\s*){4}$/' ng-model="frame.comment" required><span class='error' ng-show="newFrameForm.input.$error.required">Required</span><span  class='error' ng-show="newFrameForm.input.$error.pattern">Less than 4 words</span>
						<!-- <br>Upload a pic:<input type="file" id="pic"><br>  -->
						<input type="button" id="framesubmit" value="Publish" ng-click="addFrame()"/>

					</div>
				</form>
			</li>
		</ul>

		<!-- Include AngularJS from Google's CDN and the resource module -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js"></script>
		<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/script.js"></script>
		<script type="text/javascript">
			function imageOnclick()
			{
				$("input[id='framepic']").click();
				return;
			}
		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Add jQuery library -->
	<script type="text/javascript" src="lib/jquery-1.10.1.min.js"></script>

	<!-- Add mousewheel plugin (this is optional) -->
	<script type="text/javascript" src="lib/jquery.mousewheel-3.0.6.pack.js"></script>

	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="source/jquery.fancybox.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="source/jquery.fancybox.css?v=2.1.5" media="screen" />

	<script type="text/javascript">
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

			/*
			 *  Different effects
			 */

			// Change title type, overlay closing speed
			$(".fancybox-effects-a").fancybox({
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});

			// Disable opening and closing animations, change title type
			$(".fancybox-effects-b").fancybox({
				openEffect  : 'none',
				closeEffect	: 'none',

				helpers : {
					title : {
						type : 'over'
					}
				}
			});

			// Set custom style, close if clicked, change title type and overlay color
			$(".fancybox-effects-c").fancybox({
				wrapCSS    : 'fancybox-custom',
				closeClick : true,

				openEffect : 'none',

				helpers : {
					title : {
						type : 'inside'
					},
					overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}
					}
				}
			});

			// Remove padding, set opening and closing animations, close if clicked and disable overlay
			$(".fancybox-effects-d").fancybox({
				padding: 0,

				openEffect : 'elastic',
				openSpeed  : 150,

				closeEffect : 'elastic',
				closeSpeed  : 150,

				closeClick : true,

				helpers : {
					overlay : null
				}
			});

			/*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

			$('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});


			/*
			 *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
			 */

			$('.fancybox-thumbs').fancybox({
				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,
				arrows    : false,
				nextClick : true,

				helpers : {
					thumbs : {
						width  : 50,
						height : 50
					}
				}
			});

			/*
			 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
			*/
			$('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});

			/*
			 *  Open manually
			 */

			$("#fancybox-manual-a").click(function() {
				$.fancybox.open('1_b.jpg');
			});

			$("#fancybox-manual-b").click(function() {
				$.fancybox.open({
					href : 'iframe.html',
					type : 'iframe',
					padding : 5
				});
			});

			$("#fancybox-manual-c").click(function() {
				$.fancybox.open([
					{
						href : '1_b.jpg',
						title : 'My title'
					}, {
						href : '2_b.jpg',
						title : '2nd title'
					}, {
						href : '3_b.jpg'
					}
				], {
					helpers : {
						thumbs : {
							width: 75,
							height: 50
						}
					}
				});
			});


		});
	</script>
	<style type="text/css">
		.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}

		body {
			max-width: 700px;
			margin: 0 auto;
		}
	</style>
	</body>
</html>
